<!DOCTYPE html>
<html> 
<head>
   <!-- bootstrap - link cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- incluindo css -->
  
  <title>Listar Usuários</title>
  <meta charset="UTF-8">
      <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script> 
  
    <script>
      $(document).ready(function(){

            function carrega_postagens(){

             var xhr = new XMLHttpRequest();
             xhr.open("GET", "https://amigocat.herokuapp.com/consultor", true);
             xhr.setRequestHeader('Content-Type', 'application/json');
             xhr.setRequestHeader('Accept', 'application/json');
             xhr.setRequestHeader('Access-Control-Allow-Headers', '*');
             xhr.send(JSON.stringify()); 
             xhr.onload = function(){
                 if(xhr.status === 200){
                    var data = $.parseJSON(xhr.responseText);
                    console.log(data);
                    //data.length
                  for(i = 0; i < data.length; i++){

                    $('#container_timeline').append(
                    '<div class="publicacao">'+
                    '<div class="panel panel-default">'+
                    '<center><b><div class="panel-heading"><h4>'+data[i].id+'</h4></div></b></center>'+
                    '</div>'+
                      //'<img src="http://localhost:8080/imagens/'+data[i].foto +'" />'+
                      '<div class="jumbotron">'+
                        '<h4  id="descricaoProduto"><b>'+data[i].nome+'</b></h4> <hr>'+
                        '<h5  id="precoProduto"> <b>Username:</b> '+data[i].username+'</h5> <hr>'+
                        '<h5  id="dataInicio"> <b>Endereço:</b> '+data[i].localizacao+'</h5><hr> '+
                        '<h5  id="dataFim"> <b>Telefone:</b> '+data[i].telefone+'</h5><hr>'+
                        '<h5  id="dataFim"> <b>Celular:</b> '+data[i].celular+'</h5><hr>'+
                        '<h5  id="dataFim"> <b>Email:</b> '+data[i].email+'</h5><hr>'+
                        '<h5  id="dataFim"> <b>Foto:</b> '+data[i].foto+'</h5><hr>'+
                        '<h5  id="dataFim"> <b>RG:: </b> '+data[i].RG+'</h5><hr>'+
                        '<h5  id="dataFim"> <b>CPF: </b> '+data[i].CPF+'</h5><hr>'+
                        '<h5  id="dataFim"> <b>Especialidade: </b> '+data[i].especialidade+'</h5><hr>'+
                        '<center><div class="col-md-6"><button class="btn-alterar btn btn-outline-primary my-2 my-sm-0">Alterar</button></div> </center>'+
                        '<center><div class="col-md-6"><button class="btn-excluir btn btn-outline-primary my-2 my-sm-0" value="'+data[i].id+'">Excluir</button></div> </center>'+
                      '</div>'+
                  '</div>'  
                    );
                }  
              }
              //xhr.send();
            $('.btn-alterar').click(function(){
                $('#container_timeline').hide();
                $('#container_form_alterar').show();
              });                       
            
              $('.btn-excluir').click(function(){
                var id = this.value;

                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', 'https://amigocat.herokuapp.com/consultor/'+id);
                
                xhr.onload = function(){
                  if(xhr.status === 200){
                    console.log('apagado');
                  }
                }

                xhr.send();

              });        
            }


        $('#btn_incluir').click(function(){
          $('#container_timeline').hide();
          $('#container_form').show();
        });

        $('#btn-cancelar-publicacao').click(function(){
          $('#container_timeline').show();
          $('#container_form').hide();
          return false;
        });

        $('#btn-cancelar-alteracao').click(function(){
          $('#container_timeline').show();
          $('#container_form_alterar').hide();
          return false;
        }); 
        
        $('#btn-publicar').click(function(){ 
        const params = {
            nome: document.querySelector('#nomeConsultor').value || 'nomeFuncionario',
            username: document.querySelector('#loginConsultor').value || 'loginFuncionario',
            password: document.querySelector('#senhaConsultor').value || 'senhaFuncionario',
            localizacao: document.querySelector('#endereço').value || 'endereço',
            telefone: document.querySelector('#telefone').value || 'telefone',
            celular: document.querySelector('#celular').value || 'celular',
            email: document.querySelector('#email').value || 'email',
            foto: document.querySelector('#myFileprof').value || 'myFileprof',
            RG: document.querySelector('#RG').value || 'RG',
            CPF: document.querySelector('#CPF').value || 'CPF',
            especialidade: document.querySelector('#Especialidade').value || 'Especialidade'
          }   
         var xhr = new XMLHttpRequest();
             xhr.open("POST", "https://amigocat.herokuapp.com/consultor", true);
             xhr.setRequestHeader('Content-Type', 'application/json');
             xhr.setRequestHeader('Accept', 'application/json');
             // xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
             xhr.setRequestHeader('Access-Control-Allow-Headers', '*');
             xhr.send(JSON.stringify(params)); 
             xhr.onload = function(){
                 if(xhr.status === 200){
                    var data = $.parseJSON(xhr.responseText);
                    console.log(data);
                 }
              }        
        });

        $('#btn-alterar-usuario').click(function(){ 
        const id = document.querySelector('#idAnuncioA').value || '1';
        const params = {
            nome: document.querySelector('#nomeConsultorA').value || 'nomeFuncionarioA',
            username: document.querySelector('#loginConsultorA').value || 'loginFuncionarioA',
            password: document.querySelector('#senhaConsultorA').value || 'senhaFuncionarioA',
            localizacao: document.querySelector('#endereçoA').value || 'endereçoA',
            telefone: document.querySelector('#telefoneA').value || 'telefoneA',
            celular: document.querySelector('#celularA').value || 'celularA',
            email: document.querySelector('#emailA').value || 'emailA',
            foto: document.querySelector('#myFileprofA').value || 'myFileprofA',
            RG: document.querySelector('#RGA').value || 'RGA',
            CPF: document.querySelector('#CPFA').value || 'CPFA',
            especialidade: document.querySelector('#EspecialidadeA').value || 'EspecialidadeA'
          }   
         var xhr = new XMLHttpRequest();
             xhr.open("PUT", "https://amigocat.herokuapp.com/consultor/"+id);
             xhr.setRequestHeader('Content-Type', 'application/json');
             xhr.setRequestHeader('Accept', 'application/json');
             // xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
             xhr.setRequestHeader('Access-Control-Allow-Headers', '*');
             xhr.send(JSON.stringify(params)); 
             xhr.onload = function(){
                 if(xhr.status === 200){
                    var data = $.parseJSON(xhr.responseText);
                    console.log(data);
                 }
              }        
        });
    
    

        }
        carrega_postagens();
      });

      </script> 
</head>
<body style="background-color: #dedede;">

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="col-md-12">
          <div class="container-fluid">
            <H1 alt="AMIGOCAT" class="logo2">AMIGOCAT</H1>
            <a href="#"  alt="Incluir" class="pull-right" id="btn_incluir"><h2>Cadastrar Usuário</H2> </a>           
          </div>
        </div>
      </div>
    </nav>

    <div class="container" style="display:none" id="container_form">
      <div class="panel panel-default">

      <div class="panel-heading"><h4>Cadastrar Usuário</h4></div>'
      
      <div class="panel-body">
        <div class="form-group">
          <input type="text" name="nomeConsultor" id="nomeConsultor" class="form-control" placeholder="Nome Usuário">
        </div>
        <div class="form-group">
          <input type="text" name="loginConsultor" id="loginConsultor" class="form-control" placeholder="Username" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="senhaConsultor" id="senhaConsultor" class="form-control" placeholder="Password" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="endereço" id="endereço" class="form-control" placeholder="Endereço" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="telefone" id="telefone" class="form-control" placeholder="Telefone" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="celular" id="celular" class="form-control" placeholder="Celular" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="email" name="email" id="email" class="form-control" placeholder="Email" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="myFileprof" id="myFileprof" class="form-control" placeholder="Foto" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="RG" id="RG" class="form-control" placeholder="RG" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="CPF" id="CPF" class="form-control" placeholder="CPF" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="Especialidade" id="Especialidade" class="form-control" placeholder="Especialidade" autocomplete="off">
        </div>
        <div class="form-group">
          <button class="btn btn-success" id="btn-publicar">Publicar</button>
          <button class="btn btn-danger" id="btn-cancelar-publicacao">Cancelar</button>
        </div>
        <div id="mensagem"></div>
      </div>
    </div>
</div>




<div class="container" style="display:none" id="container_form_alterar">
      <div class="panel panel-default">

      <div class="panel-heading"><h4>Alterar um Anúncio</h4></div>
      
      <div class="panel-body">
        <div class="form-group">
          <input type="text" name="idAnuncioA" id="idAnuncioA" class="form-control" placeholder="ID">
        </div>
        <div class="form-group">
          <input type="text" name="nomeConsultorA" id="nomeConsultorA" class="form-control" placeholder="Nome Usuário">
        </div>
        <div class="form-group">
          <input type="text" name="loginConsultorA" id="loginConsultorA" class="form-control" placeholder="Username" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="senhaConsultorA" id="senhaConsultorA" class="form-control" placeholder="Password" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="endereçoA" id="endereçoA" class="form-control" placeholder="Endereço" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="telefoneA" id="telefoneA" class="form-control" placeholder="Telefone" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="celularA" id="celularA" class="form-control" placeholder="Celular" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="email" name="emailA" id="emailA" class="form-control" placeholder="Email" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="myFileprofA" id="myFileprofA" class="form-control" placeholder="Foto" autocomplete="off">
        </div>
         <div class="form-group">
          <input type="text" name="RGA" id="RGA" class="form-control" placeholder="RG" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="CPFA" id="CPFA" class="form-control" placeholder="CPF" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="EspecialidadeA" id="EspecialidadeA" class="form-control" placeholder="Especialidade" autocomplete="off">
        </div>
        <div class="form-group">
          <button class="btn btn-success" id="btn-alterar-usuario">Alterar</button>
          <button class="btn btn-danger" id="btn-cancelar-alteracao">Cancelar</button>
        </div>
        <div id="mensagem"></div>
      </div>
    </div>
</div>
    <div class="container">
      <div class="col-md-2"></div>
      <div class="col-md-8" id="container_timeline"></div>
    </div>
  </body>
</html>