<!DOCTYPE html>
<html> 
<head>
  <title>Listar Consultores</title>
  <meta charset="UTF-8">
    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
    <script>
      $(document).ready(function(){

            function carrega_postagens(){

             var xhr = new XMLHttpRequest();
             xhr.open("GET", "https://amigocat.herokuapp.com/consultor", true);
             xhr.setRequestHeader('Content-Type', 'application/json');
             xhr.setRequestHeader('Accept', 'application/json');
             xhr.setRequestHeader('Access-Control-Allow-Headers', '*');
             xhr.send(JSON.stringify()); 
             xhr.onload = function(){
                 if(xhr.status === 200){
                    var data = $.parseJSON(xhr.responseText);
                    console.log(data);
                    //data.length
                  for(i = 0; i < data.length; i++){

                    $('#container_timeline').append(
                    '<div class="publicacao">'+
                    '<div class="panel panel-default">'+
                    '<center><b><div class="panel-heading"><h4>'+data[i].id+'</h4></div></b></center>'+
                    '</div>'+
                      //'<img src="http://localhost:8080/imagens/'+data[i].foto +'" />'+
                      '<div class="jumbotron">'+
                        '<h4  id="descricaoProduto"><b>'+data[i].nome+'</b></h4> <hr>'+
                        '<h5  id="precoProduto"> <b>Username:</b> '+data[i].username+'</h5> <hr>'+
                        '<h5  id="dataInicio"> <b>Endereço:</b> '+data[i].localizacao+'</h5><hr> '+
                        '<h5  id="dataFim"> <b>Telefone:</b> '+data[i].telefone+'</h5><hr>'+
                        '<h5  id="dataFim"> <b>Celular:</b> '+data[i].celular+'</h5><hr>'+
                        '<h5  id="dataFim"> <b>Email:</b> '+data[i].email+'</h5><hr>'+
                        '<h5  id="dataFim"> <b>Foto:</b> '+data[i].foto+'</h5><hr>'+
                        '<h5  id="dataFim"> <b>RG:: </b> '+data[i].RG+'</h5><hr>'+
                        '<h5  id="dataFim"> <b>CPF: </b> '+data[i].CPF+'</h5><hr>'+
                        '<h5  id="dataFim"> <b>Especialidade: </b> '+data[i].especialidade+'</h5><hr>'+
                        '<center><div class="col-md-6"><button class="btn-alterar btn btn-outline-primary my-2 my-sm-0">Alterar</button></div> </center>'+
                        '<center><div class="col-md-6"><button class="btn-excluir btn btn-outline-primary my-2 my-sm-0" value="'+data[i].id+'">Excluir</button></div> </center>'+
                      '</div>'+
                  '</div>'  
                    );
                }  
              }
              //xhr.send();
            $('.btn-alterar').click(function(){
                $('#container_timeline').hide();
                $('#container_form_alterar').show();
              });                       
            
              $('.btn-excluir').click(function(){
                var id = this.value;

                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', 'https://amigocat.herokuapp.com/consultor/'+id);
                
                xhr.onload = function(){
                  if(xhr.status === 200){
                    console.log('apagado');
                  }
                  window.location.reload();
                }

                xhr.send();

              });        
            }


        $('#btn_incluir').click(function(){
          $('#container_timeline').hide();
          $('#container_form').show();
        });

        $('#btn-cancelar-publicacao').click(function(){
          $('#container_timeline').show();
          $('#container_form').hide();
          return false;
        });

        $('#btn-cancelar-alteracao').click(function(){
          $('#container_timeline').show();
          $('#container_form_alterar').hide();
          return false;
        }); 
        
        $('#btn-publicar').click(function(){ 
        const params = {
            nome: document.querySelector('#nomeConsultor').value,
            username: document.querySelector('#loginConsultor').value,
            password: document.querySelector('#senhaConsultor').value,
            localizacao: document.querySelector('#endereço').value,
            telefone: document.querySelector('#telefone').value,
            celular: document.querySelector('#celular').value,
            email: document.querySelector('#email').value,
            foto: document.querySelector('#myFileprof').value,
            RG: document.querySelector('#RG').value,
            CPF: document.querySelector('#CPF').value,
            especialidade: document.querySelector('#Especialidade').value
          }   
         var xhr = new XMLHttpRequest();
             xhr.open("POST", "https://amigocat.herokuapp.com/consultor", true);
             xhr.setRequestHeader('Content-Type', 'application/json');
             xhr.setRequestHeader('Accept', 'application/json');
             // xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
             xhr.setRequestHeader('Access-Control-Allow-Headers', '*');
             xhr.send(JSON.stringify(params)); 
             xhr.onload = function(){
                 if(xhr.status === 200){
                    var data = $.parseJSON(xhr.responseText);
                    console.log(data);
                    window.location.reload();
                 }
              }        
        });

        $('#btn-alterar-usuario').click(function(){ 
        const id = document.querySelector('#idAnuncioA').value;
        const params = {
            nome: document.querySelector('#nomeConsultorA').value,
            username: document.querySelector('#loginConsultorA').value,
            password: document.querySelector('#senhaConsultorA').value,
            localizacao: document.querySelector('#endereçoA').value,
            telefone: document.querySelector('#telefoneA').value,
            celular: document.querySelector('#celularA').value,
            email: document.querySelector('#emailA').value,
            foto: document.querySelector('#myFileprofA').value,
            RG: document.querySelector('#RGA').value,
            CPF: document.querySelector('#CPFA').value,
            especialidade: document.querySelector('#EspecialidadeA').value
          }   
         var xhr = new XMLHttpRequest();
             xhr.open("PUT", "https://amigocat.herokuapp.com/consultor/"+id);
             xhr.setRequestHeader('Content-Type', 'application/json');
             xhr.setRequestHeader('Accept', 'application/json');
             // xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
             xhr.setRequestHeader('Access-Control-Allow-Headers', '*');
             xhr.send(JSON.stringify(params)); 
             xhr.onload = function(){
                 if(xhr.status === 200){
                    var data = $.parseJSON(xhr.responseText);
                    console.log(data);
                 }
                window.location.reload();
              }        
        });
    
    

        }
        carrega_postagens();
      });

      </script> 
</head>
<body style="background-color: #dedede;">

  
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">AMIGOCAT - PAINEL ADMINISTRATIVO </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/usuario">Cadastrar Usuário</a></li>
            <li><a class="dropdown-item" href="/usuario">Cadastrar Funcionário</a></li>
            <li><a class="dropdown-item" href="/consultor">Cadastrar Consultor</a></li>
            <li><a class="dropdown-item" href="/agricultor">Cadastrar Agricultor</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/anuncio">Cadastrar Anúncio</a></li>
            <li><a class="dropdown-item" href="/produto">Cadastrar Produto</a></li>
            <li><a class="dropdown-item" href="/chamado">Cadastrar Chamado</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listagens<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/usuario">Listar Usuários</a></li>
            <li><a class="dropdown-item" href="/funcionario">Listar Funcionários</a></li>
            <li><a class="dropdown-item" href="/consultor">Listar Consultores</a></li>
            <li><a class="dropdown-item" href="/agricultor">Listar Agricultores</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/anuncio">Listar Anúncios</a></li>
            <li><a class="dropdown-item" href="/produto">Listar Produtos</a></li>
            <li><a class="dropdown-item" href="/chamado">Listar Chamados</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="col-md-12">
          <div class="container-fluid">
            <H1 alt="AMIGOCAT" class="logo2">AMIGOCAT</H1>
            <a href="#"  alt="Incluir" class="pull-right" id="btn_incluir"><h2>Cadastrar Consultores</H2> </a>           
          </div>
        </div>
      </div>
    </nav>

    <div class="container" style="display:none" id="container_form">
      <div class="panel panel-default">

      <div class="panel-heading"><h4>Cadastrar Consultores</h4></div>'
      
      <div class="panel-body">
        <div class="form-group">
          <input type="text" name="nomeConsultor" id="nomeConsultor" class="form-control" placeholder="Nome Usuário">
        </div>
        <div class="form-group">
          <input type="text" name="loginConsultor" id="loginConsultor" class="form-control" placeholder="Username" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="senhaConsultor" id="senhaConsultor" class="form-control" placeholder="Password" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="endereço" id="endereço" class="form-control" placeholder="Endereço" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="telefone" id="telefone" class="form-control" placeholder="Telefone" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="celular" id="celular" class="form-control" placeholder="Celular" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="email" name="email" id="email" class="form-control" placeholder="Email" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="myFileprof" id="myFileprof" class="form-control" placeholder="Foto" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="RG" id="RG" class="form-control" placeholder="RG" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="CPF" id="CPF" class="form-control" placeholder="CPF" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="Especialidade" id="Especialidade" class="form-control" placeholder="Especialidade" autocomplete="off">
        </div>
        <div class="form-group">
          <button class="btn btn-success" id="btn-publicar">Publicar</button>
          <button class="btn btn-danger" id="btn-cancelar-publicacao">Cancelar</button>
        </div>
        <div id="mensagem"></div>
      </div>
    </div>
</div>




<div class="container" style="display:none" id="container_form_alterar">
      <div class="panel panel-default">

      <div class="panel-heading"><h4>Alterar um Consultor</h4></div>
      
      <div class="panel-body">
        <div class="form-group">
          <input type="text" name="idAnuncioA" id="idAnuncioA" class="form-control" placeholder="ID">
        </div>
        <div class="form-group">
          <input type="text" name="nomeConsultorA" id="nomeConsultorA" class="form-control" placeholder="Nome Usuário">
        </div>
        <div class="form-group">
          <input type="text" name="loginConsultorA" id="loginConsultorA" class="form-control" placeholder="Username" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="senhaConsultorA" id="senhaConsultorA" class="form-control" placeholder="Password" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="endereçoA" id="endereçoA" class="form-control" placeholder="Endereço" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="telefoneA" id="telefoneA" class="form-control" placeholder="Telefone" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="celularA" id="celularA" class="form-control" placeholder="Celular" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="email" name="emailA" id="emailA" class="form-control" placeholder="Email" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="myFileprofA" id="myFileprofA" class="form-control" placeholder="Foto" autocomplete="off">
        </div>
         <div class="form-group">
          <input type="text" name="RGA" id="RGA" class="form-control" placeholder="RG" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="CPFA" id="CPFA" class="form-control" placeholder="CPF" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="text" name="EspecialidadeA" id="EspecialidadeA" class="form-control" placeholder="Especialidade" autocomplete="off">
        </div>
        <div class="form-group">
          <button class="btn btn-success" id="btn-alterar-usuario">Alterar</button>
          <button class="btn btn-danger" id="btn-cancelar-alteracao">Cancelar</button>
        </div>
        <div id="mensagem"></div>
      </div>
    </div>
</div>
    <div class="container">
      <div class="col-md-2"></div>
      <div class="col-md-8" id="container_timeline"></div>
    </div>
  </body>
</html>