<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Cadastro de usuario</title>
  <meta charset="UTF-8">

<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

   <script>
    $(document).ready(function(){

    $('#cadastrarUsuario').click(function(){ // Nome botão
        const params = {
            nome: document.querySelector('#nome').value || 'nome',
            username: document.querySelector('#login').value || 'login',
            password: document.querySelector('#senha').value || 'senha',
            localizacao: document.querySelector('#endereço').value || 'endereço',
            telefone: document.querySelector('#telefone').value || 'telefone',
            celular: document.querySelector('#celular').value || 'celular',
            email: document.querySelector('#email').value || 'email',
            foto: document.querySelector('#myFileprof').value || 'myFileprof'
          }   
         var xhr = new XMLHttpRequest(); 
             xhr.open("POST", "https://amigocat.herokuapp.com/usuario", true); //url com os nome que eu dei para cada api
             xhr.setRequestHeader('Content-Type', 'application/json');
             xhr.setRequestHeader('Accept', 'application/json');
             xhr.setRequestHeader('Access-Control-Allow-Headers', '*');
             xhr.send(JSON.stringify(params)); 
             xhr.onload = function(){
                 if(xhr.status === 200){
                    var data = $.parseJSON(xhr.responseText);
                    console.log(data);
                 }
              }        
        });
       
      });
    </script>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Amigo Cat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cadastros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="Cad_usuario.html">Cadastrar Usuário</a>
            <a class="dropdown-item" href="Cad_Funcionario.html">Cadastrar Funcionário</a>
            <a class="dropdown-item" href="Cad_consultor.html">Cadastrar Consultor</a>
            <a class="dropdown-item" href="#">Cadastrar Agricultor</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="Produto_Anuncio.html">Cadastrar Anúncio</a>
            <a class="dropdown-item" href="Cad_Produto.html">Cadastrar Produto</a>
            <a class="dropdown-item" href="Novo_chamado.html">Cadastrar Chamado</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Listar Cadastros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Listar Usuários</a>
            <a class="dropdown-item" href="#">Listar Funcionários</a>
            <a class="dropdown-item" href="#">Listar Consultores</a>
            <a class="dropdown-item" href="#">Listar Agricultores</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Listar Anúncios</a>
            <a class="dropdown-item" href="#">Listar Produtos</a>
            <a class="dropdown-item" href="#">Listar Chamados</a>
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Usuário" aria-label="Search">
        <input class="form-control mr-sm-2" type="password" placeholder="Senha" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Entrar</button>
      </form>
    </div>
  </nav>

<center>
  <br>
 <h1>Cadastro de Usuário</h1>
 <table>
   <tr>
     <th>Nome Completo: </th> &nbsp;
     <th colspan="50" ><input type="text" id="nome" size="52"></th> 
   </tr>
   <tr>
     <th>Login: </th> &nbsp;
     <th><input type="text" id="login"></th> 
     <th>Senha: </th> &nbsp;
     <th><input type="text" id="senha"></th> 
   </tr>
    <tr>
     <th>Telefone: </th> &nbsp;
     <th><input type="text" id="telefone"></th> 
     <th>Celular: </th> &nbsp;
     <th><input type="text" id="celular"></th> 
   </tr>
   <tr>
     <th>Email: </th> &nbsp;
     <th colspan="50" ><input type="text" id="email" size="52"></th> 
   </tr>
   <tr>
     <th>Endereço: </th> &nbsp;
     <th colspan="50" ><input type="text" id="endereço" size="52"></th> 
   </tr>
 </table>
 <tr>
<br>
  &emsp; &emsp; &emsp; &emsp; &emsp;
     <th><b>Foto:</b> </th> &nbsp;
     <th colspan="50" ><input type="file" id="myFileprof"></th> 
   </tr>
 <br>
<br> &emsp; &emsp; &emsp; &emsp; &emsp;
    <input  class="btn btn-outline-primary my-2 my-sm-0" id="cadastrarUsuario" type="button" value="Enviar Cadastro">
    <input  class="btn btn-outline-primary my-2 my-sm-0" type="reset" value="Limpar Campos">
  

 

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



  </body>
</html>