<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Cadastro de Anúncio</title>
  <meta charset="UTF-8">
        <!-- JQuery -->
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

   <script>
    $(document).ready(function(){

    $('#cadastrarAnuncio').click(function(){ 
        const params = {
            foto: document.querySelector('#fotoProduto').value || 'foto',
            descricao: document.querySelector('#descricaoProduto').value || 'descricao',
            preco: document.querySelector('#precoProduto').value || 'preco',
            dataInicio: document.querySelector('#dataInicio').value || 'dataInicio',
            dataFim: document.querySelector('#dataFim').value || 'dataFim'
          }   
         var xhr = new XMLHttpRequest();
             xhr.open("POST", "https://amigocat.herokuapp.com/anuncio", true);
             xhr.setRequestHeader('Content-Type', 'application/json');
             xhr.setRequestHeader('Accept', 'application/json');
             xhr.setRequestHeader('Access-Control-Allow-Headers', '*');
             xhr.send(JSON.stringify(params)); 
             xhr.onload = function(){
                 if(xhr.status === 200){
                    var data = $.parseJSON(xhr.responseText);
                    console.log(data);
                 }
              }        
        });
        //cadastrarAnuncio();
      });
    </script>
  </head>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Amigo Cat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cadastros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="Cad_usuario.html">Cadastrar Usuário</a>
            <a class="dropdown-item" href="Cad_Funcionario.html">Cadastrar Funcionário</a>
            <a class="dropdown-item" href="Cad_consultor.html">Cadastrar Consultor</a>
            <a class="dropdown-item" href="#">Cadastrar Agricultor</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="Produto_Anuncio.html">Cadastrar Anúncio</a>
            <a class="dropdown-item" href="Cad_Produto.html">Cadastrar Produto</a>
            <a class="dropdown-item" href="Novo_chamado.html">Cadastrar Chamado</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Listar Cadastros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Listar Usuários</a>
            <a class="dropdown-item" href="#">Listar Funcionários</a>
            <a class="dropdown-item" href="#">Listar Consultores</a>
            <a class="dropdown-item" href="#">Listar Agricultores</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Listar Anúncios</a>
            <a class="dropdown-item" href="#">Listar Produtos</a>
            <a class="dropdown-item" href="#">Listar Chamados</a>
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Usuário" aria-label="Search">
        <input class="form-control mr-sm-2" type="password" placeholder="Senha" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Entrar</button>
      </form>
    </div>
  </nav>

<center>
  <br>
 <h1>Cadastro de Anúncio</h1>
 <table>
   <tr>
     <th>Nome Produto: </th> &nbsp;
     <th colspan="50" ><input type="text" id="nomeProduto" size="55"/></th> 
   </tr>
   <tr>
     <th>Descrição: </th> &nbsp;
     <th colspan="50"><textarea id="descricaoProduto" rows="5" cols="57"/></textarea></th> 
   </tr>
   <tr>
     <th>Preço: </th> &nbsp;
     <th><input type="text" id="precoProduto"/></th> 
     <th>Agricultor: </th> &nbsp;
     <th><input type="text" id="agricultor"/></th> 
   </tr>
    <tr>
     <th>Data Inicio: </th> &nbsp;
     <th><input type="text" id="dataInicio"/></th> 
     <th>Data Fim: </th> &nbsp;
     <th><input type="text" id="dataFim"/></th> 
   </tr>
 </table>
 <tr>
  <br>
  &emsp; &emsp; &emsp; &emsp; &emsp;
     <th><b>Foto:</b> </th> &nbsp;
     <th colspan="50" ><input type="text" id="fotoProduto"></th> 
</tr>

 <br>
<br> &emsp; &emsp; &emsp; &emsp; &emsp;
    <button class="btn btn-outline-primary my-2 my-sm-0" id="cadastrarAnuncio">Publicar</button>
    <input  class="btn btn-outline-primary my-2 my-sm-0" type="reset" value="Limpar Campos">
  </body>
</html>